/* div {
    border: 4px red solid;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(126, 44, 12);
}

.page {
    display: flex;
    flex-direction: column;  
    margin: 0;
}

.header, .footer {
    background-color: #080507;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin-top: 15px;
    font-weight: 900;
    font-family: Helvetica;
    text-align: center;
}

.header-links {
    display: flex;
    gap: 32px;
    a {
        color: white;
        text-decoration: none;
        margin-right: 40px;
    }
}

.header-text {
    text-align: left;
    font-weight: bold;
}
.header-bottom {
    display: flex;
    margin: 100px 200px 60px 200px;
}

.header-image {  
    width: 50%;
    height: auto; 
    margin: 20px 40px;
}

.sign-up-button {
    margin-top: 15px;
    padding: 8px;
}

.body-one-header {
    text-align: center;
}

.body-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 100px 0;
}

.body-one-body {
    display: flex;
    width: 80%;
    text-align: center;
    gap: 18px;
    margin: 50px;
}

.body-one-image {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 12px;
}

.body-one-image img {
    border-radius: 10%;
    overflow: hidden;
    border: 4px rgb(126, 44, 12) solid;
    margin-bottom: 12px;
}

.body-two {
    background-color: #e5e7eb;
    color: #172937;
}



.body-three {
    height:280px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 18px;
    color: #e5e7eb;
}